h1{
    color: blueviolet
}

body {
    background-color: saddlebrown;
}

.button{
    background-color: orange;
    height: 50px;
    text-align: center;
    width: 150px;
    margin-bottom: 10px;
}

.table {
    background-color: whitesmoke;
    margin-bottom: 10px;
    width: 800px;
}

.table thead {
    font-size: 30px;
    text-align: center;
}

.table tbody {
    font-size: 15px;
    text-align: center;
}
